.main-story {
  h1 {
    span {
      font-size: 3em;
      padding: 0 40px;
    }
  }
  
  h2 {
    font-size: 2em;
  }
  
  h2, h3, p {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .responsive-photo-grid {
    padding: 0 10px;

    .portrait-photo {
      width: 100%;
      padding: 5px 10px;
      float: none;
      overflow: visible;
    }

    .text-blob {
      padding: 20px;
    }
  }
}

.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 5px 10px 0 10px;
  background: rgba(0,0,0,0.8);
  
  &.body-scrolled {
    top: 0px;
    opacity: 0.4;
    
    .site-logo {
      height: 30px;
    }
    
    span {
      display: none;
    }
    
    &:hover {
      opacity: 1;
    }
  }

  &.body-beyond-header {
    .site-logo-dark {
      display: none;
    }

    .site-logo-light {
      display: inline;
    }
  }
}

.gallery-section-index {
  top: 0px;
  left: auto;
  right: 0px;
  background: rgba(0,0,0,0.3);
  width: auto;
  
  a {
    padding: 5px 10px;
  }
  
  .gallery-responsive-tab {
    display: block;
    padding: 10px 15px 15px 20px;
    color: #fff;
  }
  
  .gallery-item {
    display: none;
  }
  
  &.hovered {
    .gallery-responsive-tab {
      text-align: right;
    }

    .gallery-item {
      display: block;
    }
  }
}

footer {
  padding-left: 0px;
}
