.main-story {
  h1 {
    span {
      padding-right: 20px;
    }
  }

  .responsive-photo-grid, .period {
    padding-right: 0px;
    
    .text-blob {
      font-size: 1em;
    }
  }
}

footer {
  padding-right: 0px;
}
